*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.green {
    background-color: green;
    color: white;
}

.table_td{
    cursor: pointer;
    :hover{
        background-color: green;
    }
}